<h1>All Pets</h1>

<form action="/all-pets/new-pet" method="get">
  <input type="submit" value="Register new pet!">
</form>

<form action="/all-pets/delete-all" method="post">
  <input type="submit" value="Delete All Pets">
</form>

<% @pets.each do |pet| %>
<p> Name: <%= pet.name %></p>
<p> Type animal: <%= pet.type %></p>
<p> Breed: <%= pet.breed %></p>
<p> Age: <%= pet.age %></p>
<p> Size: <%= pet.size %></p>
<p> Sex: <%= pet.sex %></p>
<p> Cost: £<%= pet.cost %></p>
<p><%= pet.name_admission%></p>
<p> Ready for adoption: <%= pet.pet_adoptable()%></p>
<p> <a href="/all-pets/<%= pet.id %>">Show pet details</a> </p>
<hr/>
<% end %>
